h1 {
    color: navy;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
.box {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 200px;width: 500px;
    background-color: rgb(88, 63, 63);
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.box1 {
    background-color: lightcoral;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    background-color: lightblue;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    background-color: lightgreen;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    margin-top: 20px;
    margin-left: 20px;
    
    
}

.tab table {
    width: 540px;
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

.tab th, .tab td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}
.tab th {
    background-color: rgb(94, 51, 51);
    color: white;
}