* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    height: 50px;
    width: 100%;
    background-color: #cf8383;
    justify-items   : center;
    align-content: center;
    position: fixed;
    gap: 40px; 
    padding-left:  20px;
    padding-right: 20px;

}

.nav-items {
    display: flex;
    gap: 40px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-item li{
    list-style: none;
}
h1 {
    color: navy;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
.box {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 110px;width: 500px;
    /* background-color: rgb(88, 63, 63); */
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.box1 {
    background-color: lightcoral;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
}


.box2 {
    background-color: lightblue;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
}

.box3 {
    background-color: lightgreen;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
}

.tab {
    margin-top: 20px;
    margin-left: 20px;
    
    
}

.tab table {
    width: 540px;
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

.tab th, .tab td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}
.tab th {
    background-color: rgb(94, 51, 51);
    color: white;
}